<footer class="page-wrap">
    <div id="footer-content">
      <div>
        <h3>Partenaires & Amis</h3>
        <a target="_BLANK" href="http://antoine-bouchina.com/">Antoine Bouchina</a><br>
        <a target="_BLANK" href="http://nailucie.com">Lucie Hampele</a><br>
        <a target="_BLANK" href="http://www.micheledighoffer.fr/">Michel Edighoffer</a><br>
        <a target="_BLANK" href="http://sebastienglass.fr/">Sébastien Glass</a><br>

      </div>

    <div>
      <h3>Contact</h3>

      <p class="footer-webiste"><a href="http://www.corentindesfarges.fr">www.corentindesfarges.fr</a></p>
      <p class="footer-email"><a href="mailto:corentin.desfarges.dev@gmail.com">corentin.desfarges.dev@gmail.com</a></p>
    </div>
    </div>

    <div id="social-icons">
      <a class="icon-gplus" href="https://plus.google.com/+CorentinDesfarges">Google+</a>
      <a class="icon-fb" href="https://www.facebook.com/corentin.desfarges">Facebook</a>
      <a class="icon-twitter" href="#">Twitter</a>
      <a class="icon-pinterest" href="#">Pinterest</a>
      <a class="icon-youtube" href="#">YouTube</a>
      <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
  </div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>
